{% load static %}
        <!-- Footer-->
        <footer class="bg-dark py-5">
            <div class="container px-4 px-lg-5">
                <p style="color:white">
                    회사이름<br>
                    대표자명 : 홍길동<br>
                    서울특별자치시 중구 세종대로 110<br>
                </p>
                <a href="https://www.instagram.com/">
                <img class="instagram icon" align="right" width = "40px" height="40px"  src="{% static 'assets/img/instagram.png' %}"  />
                </a>
                <a href="https://section.blog.naver.com/BlogHome.naver?directoryNo=0&currentPage=1&groupId=0">
                    <img class="naver blog icon"align="right" width="40px" height="40px" src="{% static 'assets/img/blog.png' %}"
                </a>
                <div class="small text-center text-muted">Copyright &copy; 2022 - 회사이름</div>
            </div>
        </footer>
